body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

div, input, button {
    box-sizing: border-box;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

li, a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul, li {
    margin: 0;
    padding: 0;
}
